@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
font-family: 'Inter';

/* font-size: 52px; */
}

body, html {
  margin: 0;

  display: grid;
 
  width: 100%;
  height: 100%;

  
}

h1, h2, h3, p {
  color: rgba(21, 37, 54, 1);
}
.layout {
  width: 100%;
  height: 100%;

  display: grid;

  grid-template-rows: 70px auto 50px;
  grid-template-areas: 
  'header'
  'main'
  'footer'
  ;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

footer.footer {
  bottom: 0;
  width: 100%;

  position: fixed;
  text-align: center;
  
}
.button {
  color: green;
}

