/* body {
    display: grid;
    justify-content: center;
    background-color: #cecfd1;
} */
* {
  color: rgba(3, 20, 46, 1);
}
main.main {

    width: 100%;

    display: grid;
    justify-content: center;
    align-content: center;

    background-color: rgba(247, 247, 247, 1);

    
}
.input {

  max-width: 100%;
}

form {
    margin: auto;
    
    max-width: 500px;
    
    padding: 40px;
    border-radius: 4px;
  }
  
  .formField {
    margin-bottom: 40px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
  }
  
  input {
    width: 100%;
    
    min-width: none;
    display: grid;
    border: 1px solid #dadce0;
    border-radius: 4px;
    white-space: normal;
    font-size: 16px;
    height: 36px;
    padding: 13px 15px;
    text-align: left;
    transition: border .5s;

  }
  
  input:focus,
  input:hover {
    border: 1px solid rgba(124, 149, 191, 1);
  }
  
  .formField__error {
    color: #d93025;
    font-size: 16px;
    position: absolute;
    margin-top: 5px;
  }
  
  button {
    font-size: 16px;
    border-radius: 4px;
    background: rgba(3, 20, 46, 1);
    color: #fff;
    border: 0;
    padding: 16px 32px;
    transition: .3s;

    width: 174px;
    height: 48px;
    border-radius: 8px;

  }
  
  button:hover {
    background-color: rgba(124, 149, 191, 1);
  }
  
  button:focus {
    background-color: rgba(2, 12, 28, 1);
  }

@media (max-width) {
  form {
   
  }
}